.bl_article_card_event {
    position: relative;
    background-color: $col_white;
    box-shadow: 0 0 6px rgba(0, 0, 0, .16);
    &_finsh {
        position: absolute;
        left: 0;
        background-color: $col_theme_green;
        @include fz(12px,14,16px);
        color:  $col_white;
        font-weight: bold;
        letter-spacing: 0;
        padding: 8px;
        z-index: 1;
    }
    &_img {
        box-sizing: border-box;
        overflow: hidden;
        img {
            aspect-ratio: 3/2;
            transition: all .3s ease-out;
        }
    }
    &_contents {
        background-color: $col_white;
        padding: 20px 20px 34px;
        &_title {
            display: block;
            color: $col_black;
            @include fz(16px,18,22px);
            line-height: 1.3em;
            font-weight: bold;
            letter-spacing: 0;
            margin-bottom: 5px;
        }
        &_date {
            position: relative;
            color: $col_theme_blue;
            @include fz(13px,14,16px);
            font-weight: bold;
            letter-spacing: 0;
            padding-left: 22px;
            &:before {
                content: '';
                position: absolute;
                top: 1px;
                left: 0;
                background-image: url(../../../assets/public/img/icon/calendar_icon.svg);
                background-position: center;
                background-size: cover;
                width: 14px;
                height: 16px;
            }
        }
    }
    &:hover {
        opacity: 1;
        .bl_article_card_event_img {
            img {
                transform: scale(1.2);
            }
        }
        .bl_article_card_event_contents {
            &_title {
                text-decoration: underline;
            }
        }
    }
}