.outlink_box {
    max-width: 570px;
    margin: 0 auto;
    padding: 30px;
    background-color: $col_gray_middle;
    h3 {
        @include fz(20px,24,24px);
        margin-bottom: 10px;
    }
    a {
        font-size: 16px;
        font-weight: 400;
        color: $col_theme_blue;
        text-decoration: underline;
        &.external {
            position: relative;
            word-wrap:break-word;
            &:after {
                content: url('../../../assets/public/img/icon/external_link_icon_blue.svg');
                position: relative;
                right: -5px;
                top: 1px;
                width: 16px;
                height: 16px;
            }
        }
    }
}