.breadcrumbs_wrap {
    ol.breadcrumb {
        justify-content: right;
        margin: 20px 0 0;
        li.breadcrumb-item {
            a {
                color: $col_black;
                @include fz(12px,14,14px);
                font-weight: bold;
                letter-spacing: 0;
            }
            .breadcrumb_last {
                color: $col_theme_blue;
                @include fz(12px,14,14px);
                font-weight: bold;
                letter-spacing: 0;
            }
        }
    }
}